div.content-container{
    position: relative !important;
    background-color: #F8F8FF;
    display: flex;
    width: 70%;
    min-height: fit-content;
    margin: auto;
    margin-bottom: 24px;
    height: auto;
}
