header.ant-layout-header.app-header {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    padding: 0;
    z-index: 2;
    background-color: #4B060E;
    font-size: calc(8px + 2vmin);
}

div.ant-radio-group {
    position: absolute;
    right: 0;
    margin-right: 150px;
}

.nav-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.app-title {
    margin-left: 100px;
    color: white;
    line-height: 48px;
}

.search-bar {
    margin-left: 40px;
    width: 30%;
    padding: 16px;
}