html, body, #root, .app {
  height: 100%;
  overflow: auto;
}

h1, h2, h3 {
  font-family: 'Merriweather', sans-serif;
  color: #4B060E;
}

h4, h5, p {
  font-family: 'Open Sans', sans-serif;
}

.ant-layout.layout-body {
  height: auto;
}

main.ant-layout-content.content{
  height: 100%;
  background-color: #f8f8ff;
}

.ant-divider.ant-divider-horizontal{
  margin: 12px 0px
}