.app {
  height: 100%;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: #720E07;
}

h3, p {
  font-family: 'Open Sans', sans-serif;
}

.layout-body {
  height: 100%;
  display: inline-block;
  orientation: landscape;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
